<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <img src="{{ url_for('static', filename='images/sign.jpg') }}" alt="Star Sign" width="400">
 <h1>Danielle Williams</h1>
 <p>I'm in my third year of Bsc in Computing at the University of the West Indies.<br>
    I have enjoyed this journey but cant wait for it to come to a end, so that I may start a new journey, Msc.<br>
    Learning intriges me and I how to reach the hightest level posisble. 
</p>
</body>
</html>